{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/core.async {:mvn/version "1.8.741"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        http-kit/http-kit {:mvn/version "2.8.0"}
        ring/ring-core {:mvn/version "1.13.0"}
        hiccup/hiccup {:mvn/version "2.0.0"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.1070"}
        org.xerial/sqlite-jdbc {:mvn/version "3.50.3.0"}}
 :aliases {:run {:main-opts ["-m" "piyodash.core"]}
           :enroll {:main-opts ["-m" "piyodash.sync" "enroll"]}
           :test {:extra-paths ["test"]
                  :main-opts ["-m" "piyodash.test-runner"]}}}
